<bmw-theme>
<div class="bmw__margin-top__xl">
<h2>
  BMW
  <br>Group
  <br>
  <br>Unlisted App Store
</h2>
</div>
<bmw-content-tab [withIcon]="true">
      <bmw-content-tab-label  for="a" icon="iwp-icon-gen_globe">NA</bmw-content-tab-label>
      <bmw-content-tab-content id="a">North America Unlisted Apps
        <br>
        <div style="background-color:var(--color-bmw-accent10-shade3);color:white;padding:20px;">
          <a href="https://apps.apple.com/gb/app/my-bmw/id1519034860">
          <img border="0" alt="Strong Auth" src="assets/Images/Strong_Auth_App_Icon.png" width="75" height="75">
          Strong Auth
          </a>
          </div>
          <br>
          <div style="background-color:var(--color-bmw-accent10-shade3);color:white;padding:20px;">
            <a href="https://apps.apple.com/gb/app/my-bmw/id1519034860">
            <img border="0" alt="" src="assets/Images/WeatBMW.png" width="75" height="75">
            We@BMWGroup
            </a>
          </div>
      </bmw-content-tab-content>
      <bmw-content-tab-label  for="b" icon="iwp-icon-gen_globe">China</bmw-content-tab-label>
      <bmw-content-tab-content id="b">China Unlisted Apps</bmw-content-tab-content>
      <bmw-content-tab-label  for="c" icon="iwp-icon-gen_globe">ROW</bmw-content-tab-label>
      <bmw-content-tab-content id="c">Rest of World Unlisted Apps</bmw-content-tab-content>
      <bmw-content-tab-label  for="d" icon="iwp-icon-gen_user">BMW Group & Me</bmw-content-tab-label>
      <bmw-content-tab-content id="d">Hello Q123456!</bmw-content-tab-content>
</bmw-content-tab>
</bmw-theme>
